requests
urllib3
pyodbc
psycopg2-binary
python-dotenv
sqlalchemy
pandas
logdecoratorandhandler>=0.3.0
factory-boy
sqlserverport

pytest
pytest-cov

flake8
pylint
pdoc
bandit
lazy-object-proxy==1.8.0
setuptools==65.6.3
wheel==0.38.4
setuptools_scm==7.1.0
